@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap");

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
	background: black;
	top: 150px;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 5px;
	border-top: 10px solid white;
	border-bottom: 10px solid white;
}

/* Universal */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body,
h1,
h2,
span,
p,
button,
input,
div,
i,
img,
input,
ul,
li {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	cursor: url("../img/cursor-default.png"), auto !important;
	font-family: "Outfit";
	color: white;
	margin: 0;
	padding: 0;
}

/* HTML and body */
html,
body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

body {
	background: url("../img/background-body.jpg") no-repeat center top/cover;
	overflow: hidden;
}

/* Status bar */
#status-bar {
	background: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	height: 50px;
	margin: 0;
	padding: 0;
	z-index: 4;
}

#status-bar div {
	width: 100%;
	padding: 0;
	margin: auto;
}

#status-bar div i {
	background: transparent;
	font-size: 30px;
	color: white;
	height: 100%;
	margin: 0;
	padding: 10px 30px;
	box-sizing: border-box;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}

#status-bar div i:hover {
	background: rgba(200, 200, 200, 0.2);
}

#status-bar-home-btn {
	float: left;
}

#status-bar-menu-btn {
	float: right;
}

#status-bar p {
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	color: white;
	height: 100%;
}

/* Main Menu including Renderer */
#main-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 100px;
	width: 100vw;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	background: #333;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#renderer {
	height: 1000px;
	width: 1000px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	z-index: -1;
}

#main-menu-settings-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	width: 150px;
	height: 100px;
	background: #555;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	margin-right: 95px;
	padding: 0;
	z-index: 2;
}

#main-menu-settings-btn i {
	color: white;
	font-size: 32px;
	margin: auto;
	text-shadow: 0 1px #111;
}

#main-menu-settings-btn p {
	color: white;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 1px;
	text-shadow: 0 1px #111;
	margin: auto;
}

#main-menu-play-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 220px;
	background: #c78283;
	border: 10px solid white;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	z-index: 3;
}

#main-menu-play-btn p {
	font-size: 24px;
	font-weight: 500;
	color: white;
	letter-spacing: 1px;
	text-shadow: 0 1px #111;
	padding: 0;
	margin: 0;
}

#renderer {
	height: 1000px;
	width: 1000px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	z-index: -1; /* -9 is maximum */
}

#main-menu-download-btn {
	width: 150px;
	height: 100px;
	background: #9e8a7b; /* #BFA895 */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	margin-left: 95px;
	padding: 0;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	z-index: 1;
}

#main-menu-download-btn i {
	color: white;
	font-size: 32px;
	margin: auto;
	text-shadow: 0 1px #111;
}

#main-menu-download-btn p {
	color: white;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 1px;
	text-shadow: 0 1px #111;
	margin: auto;
}

/* Filter Bar */
#filter-bar {
	display: none;
	justify-content: flex-end;
	flex-direction: row;
	height: 100px;
	padding: 0;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 50px;
	left: 0;
	right: 10px;
	z-index: 1;
}

#filter-bar > div {
	width: 520px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	margin-right: 40px;
}

#search {
	width: 520px;
	height: 40px;
	margin-top: 15px;
	border: none;
	border-style: none;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.7) url("../img/icon-search.png") right center no-repeat; /* 18px */
	color: white;
	font-size: 15px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 15px;
	padding-right: 15px;
	outline: none;
}

#sort-bar {
	margin-bottom: 15px;
	border-bottom: 1px solid grey;
}

#sort-bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 520px;
	box-sizing: border-box;
}

#sort-bar ul li {
	display: inline;
	font-size: 13px;
	font-weight: 300;
	padding-bottom: 2px;
}

#sort-bar ul li:hover {
	color: white;
	border-bottom: 1px solid white;
}

.sort-bar-blue {
	color: #5fbdec;
}

.sort-bar-green {
	color: #a2c240;
}

.sort-bar-selected {
	font-weight: 500;
	color: white;
	border-bottom: 1px solid white;
}

/* Left Pane */
#left-pane {
	background: rgba(0, 0, 0, 0.6);
	z-index: 2;
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	width: 740px;
	box-sizing: border-box;
	display: none;
}

#preview-window {
	border-right: 2px solid #d9fbfb;
	border-top: 2px solid #d9fbfb;
	border-bottom: 2px solid #d9fbfb;
	box-shadow: 0px 0px 20px 5px rgba(217, 251, 251, 1);
	width: 700px;
	height: 394px;
	border-radius: 5px;
	z-index: 2;
	box-sizing: border-box;
	margin-bottom: 40px;
	background: black;
}

.left-pane-section {
	background: transparent;
	box-sizing: border-box;
	text-shadow: 0 1px #111;
	margin-left: 40px;
	margin-top: 20px;
}

.left-pane-title {
	background: transparent;
	font-size: 20px;
	font-weight: 500;
	text-shadow: 0 1px #111;
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid grey;
	padding-bottom: 2px;
	width: 100%;
}

.left-pane-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.mod {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 130px;
	height: 130px;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}

.mod img {
	width: 64px;
	height: 64px;
	filter: grayscale(95%);
}

.mod h2 {
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	padding: 0;
}

.mod p {
	font-size: 12px;
	font-weight: 300;
	line-height: 1.33;
	margin: 0;
	padding: 0;
}

.mod-selected img {
	filter: grayscale(0%);
}

/* map List */
#map-list {
	display: none;
	overflow-y: scroll;
	width: 700px;
	top: 50px;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: 0;
	padding: 0;
}

#map-list ul {
	list-style: none;
	margin-top: 140px;
	padding: 0;
}

.map {
	width: 600px;
	float: right;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-sizing: border-box;
}

.map-selected {
	width: 640px;
	border-left: 2px solid #d9fbfb;
	border-top: 2px solid #d9fbfb;
	border-bottom: 2px solid #d9fbfb;
	box-shadow: 0px 0px 20px 5px rgba(217, 251, 251, 1);
}

.map h1 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
}

.map h2 {
	font-size: 15px;
	font-weight: 400;
	color: #eeeeee;
	margin-top: 5px;
}

.map p {
	font-size: 12px;
	font-weight: 300;
	color: #cccccc;
	margin-top: 15px;
}

[id="1"] {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../maps/1/bgi.png") no-repeat center center;
	transition: 0.3s ease;
}

[id="1"]:hover {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../maps/1/bgi.png") no-repeat 47% 50%;
}
