@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap");

/* Scrollbar */
::-webkit-scrollbar {
	width: 1rem;
	background: black;
	top: 15rem;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 0.5rem;
	border-top: 1rem solid white;
	border-bottom: 1rem solid white;
}

/* Universal */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	zoom: reset;
}

html,
body,
h1,
h2,
span,
p,
button,
input,
div,
i,
img,
input,
ul,
li {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	cursor: url("../img/cursor-default.png"), auto !important;
	font-family: "Outfit";
	color: white;
	margin: 0;
	padding: 0;
}

/* HTML and body */
html,
body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

body {
	background: url("../img/background-body.jpg") no-repeat center top/cover;
	overflow: hidden;
}

/* Status bar */
#status-bar {
	background: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	height: 5rem;
	margin: 0;
	padding: 0;
	z-index: 4;
}

#status-bar div {
	width: 100%;
	padding: 0;
	margin: auto;
}

#status-bar div i {
	background: transparent;
	font-size: 3rem;
	color: white;
	height: 100%;
	margin: 0;
	padding: 1rem 3rem;
	box-sizing: border-box;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}

#status-bar div i:hover {
	background: rgba(200, 200, 200, 0.2);
}

#status-bar-home-btn {
	float: left;
}

#status-bar-menu-btn {
	float: right;
}

#status-bar p {
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
	color: white;
	height: 100%;
}

/* Main menu including renderer */
#main-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 10rem;
	width: 100vw;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	background: #333;
	box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
}

#renderer {
	height: 100rem;
	width: 100rem;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	z-index: -1;
}

#main-menu-settings-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	width: 15rem;
	height: 10rem;
	background: #555;
	box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
	margin-right: 9.5rem;
	padding: 0;
	z-index: 2;
}

#main-menu-settings-btn i {
	color: white;
	font-size: 3.2rem;
	margin: auto;
	text-shadow: 0 0.1rem #111;
}

#main-menu-settings-btn p {
	color: white;
	font-size: 1.3rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
	text-shadow: 0 0.1rem #111;
	margin: auto;
}

#main-menu-play-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22rem;
	height: 22rem;
	background: #c78283;
	border: 1rem solid white;
	border-radius: 50%;
	box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	z-index: 3;
}

#main-menu-play-btn p {
	font-size: 2.4rem;
	font-weight: 500;
	color: white;
	letter-spacing: 0.1rem;
	text-shadow: 0 0.1rem #111;
	padding: 0;
	margin: 0;
}

#renderer {
	height: 100rem;
	width: 100rem;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	z-index: -1; /* -9 is maximum */
}

#main-menu-download-btn {
	width: 15rem;
	height: 10rem;
	background: #9e8a7b; /* #BFA895 */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	margin-left: 9.5rem;
	padding: 0;
	box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
	z-index: 1;
}

#main-menu-download-btn i {
	color: white;
	font-size: 3.2rem;
	margin: auto;
	text-shadow: 0 0.1rem #111;
}

#main-menu-download-btn p {
	color: white;
	font-size: 1.3rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
	text-shadow: 0 0.1rem #111;
	margin: auto;
}

/* Filter bar */
#filter-bar {
	display: none;
	justify-content: flex-end;
	flex-direction: row;
	height: 10rem;
	padding: 0;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 5rem;
	left: 0;
	right: 1rem;
	z-index: 1;
}

#filter-bar > div {
	width: 52rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	margin-right: 4rem;
}

#search {
	width: 52rem;
	height: 4rem;
	margin-top: 1.5rem;
	border: none;
	border-style: none;
	border-radius: 0.4rem;
	background: rgba(0, 0, 0, 0.7) url("../img/icon-search.svg") 97% center no-repeat;
	background-size: 1.8rem 1.8rem;
	color: white;
	font-size: 1.5rem;
	padding: 1.1rem 1.5rem;
	outline: none;
}

#sort-bar {
	margin-bottom: 1.5rem;
	border-bottom: 0.1rem solid grey;
}

#sort-bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 52rem;
	box-sizing: border-box;
}

#sort-bar ul li {
	display: inline;
	font-size: 1.3rem;
	font-weight: 300;
	padding-bottom: 0.2rem;
}

#sort-bar ul li:hover {
	color: white;
	border-bottom: 0.1rem solid white;
}

.sort-bar-blue {
	color: #5fbdec;
}

.sort-bar-green {
	color: #a2c240;
}

.sort-bar-selected {
	font-weight: 500;
	color: white;
	border-bottom: 0.1rem solid white;
}

/* Left pane */
#left-pane {
	background: rgba(0, 0, 0, 0.6);
	z-index: 2;
	position: fixed;
	top: 5rem;
	left: 0;
	bottom: 0;
	padding-top: 4rem;
	padding-right: 4rem;
	padding-bottom: 4rem;
	width: 74rem;
	box-sizing: border-box;
	display: none;
}

#preview-window {
	border-right: 0.2rem solid #d9fbfb;
	border-top: 0.2rem solid #d9fbfb;
	border-bottom: 0.2rem solid #d9fbfb;
	box-shadow: 0px 0px 2rem 0.5rem rgba(217, 251, 251, 1);
	width: 70rem;
	height: 35rem;
	border-radius: 0.5rem;
	z-index: 2;
	box-sizing: border-box;
	margin-bottom: 4rem;
	background: black;
}

.left-pane-section {
	background: transparent;
	box-sizing: border-box;
	text-shadow: 0 0.1rem #111;
	margin-left: 4rem;
	margin-top: 2rem;
}

.left-pane-title {
	background: transparent;
	font-size: 1.8rem;
	font-weight: 500;
	text-shadow: 0 0.1rem #111;
	display: flex;
	justify-content: flex-start;
	border-bottom: 0.1rem solid grey;
	padding-bottom: 0.2rem;
	width: 100%;
}

.left-pane-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-top: 2rem;
	padding-bottom: 2rem;
	box-sizing: border-box;
}

.mod {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 11rem;
	height: 11rem;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}

.mod img {
	width: 5rem;
	height: 5rem;
	filter: grayscale(95%);
}

.mod h2 {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1;
	padding: 0;
}

.mod p {
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.33;
	margin: 0;
	padding: 0;
}

.mod-selected img {
	filter: grayscale(0%);
}

/* Map list */
#map-list {
	display: none;
	overflow-y: scroll;
	width: 70rem;
	top: 5rem;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: 0;
	padding: 0;
}

#map-list ul {
	list-style: none;
	margin-top: 14rem;
	padding: 0;
}

.map {
	width: 60rem;
	float: right;
	padding: 2rem 4rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
	box-sizing: border-box;
}

.map-selected {
	width: 64rem;
	border-left: 0.2rem solid #d9fbfb;
	border-top: 0.2rem solid #d9fbfb;
	border-bottom: 0.2rem solid #d9fbfb;
	box-shadow: 0px 0px 2rem 0.5rem rgba(217, 251, 251, 1);
}

.map h1 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1;
}

.map h2 {
	font-size: 1.5rem;
	font-weight: 400;
	color: #eeeeee;
	margin-top: 0.5rem;
}

.map p {
	font-size: 1.2rem;
	font-weight: 300;
	color: #cccccc;
	margin-top: 1.5rem;
}

[id="1"] {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../maps/1/bgi.png") no-repeat center center;
	transition: 0.3s ease;
}

[id="1"]:hover {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../maps/1/bgi.png") no-repeat 47% 50%;
}

/* Media queries */
@media only screen and (min-width: 140px) and (max-width: 283px) {
	html {
		font-size: 1px;
	}
}

@media only screen and (min-width: 284px) and (max-width: 427px) {
	html {
		font-size: 2px;
	}
}

@media only screen and (min-width: 428px) and (max-width: 573px) {
	html {
		font-size: 3px;
	}
}

@media only screen and (min-width: 574px) and (max-width: 723px) {
	html {
		font-size: 4px;
	}
}

@media only screen and (min-width: 724px) and (max-width: 857px) {
	html {
		font-size: 5px;
	}
}

@media only screen and (min-width: 858px) and (max-width: 982px) {
	html {
		font-size: 6px;
	}
}

@media only screen and (min-width: 983px) and (max-width: 1003px) {
	html {
		font-size: 6.5px;
	}
}

@media only screen and (min-width: 1004px) and (max-width: 1108px) {
	html {
		font-size: 7px;
	}
}

@media only screen and (min-width: 1109px) and (max-width: 1143px) {
	html {
		font-size: 7.5px;
	}
}

@media only screen and (min-width: 1144px) and (max-width: 1214px) {
	html {
		font-size: 8px;
	}
}

@media only screen and (min-width: 1214px) and (max-width: 1283px) {
	html {
		font-size: 8.5px;
	}
}

@media only screen and (min-width: 1284px) and (max-width: 1355px) {
	html {
		font-size: 9px;
	}
}

@media only screen and (min-width: 1356px) and (max-width: 1427px) {
	html {
		font-size: 9.5px;
	}
}

@media only screen and (min-width: 1428px) and (max-width: 9999px) {
	html {
		font-size: 10px;
	}
}
